.navbar{

    
}

.navbar__item{
    list-style-type: none;

}

.navbar__link{
    display: block;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    color: $text;
}