.user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    &--comment{
        justify-content: flex-start;
        margin: 0;
    }
}

.user-name{
    font-size: 20px;
    font-weight: bold;
    max-width: 300px;
    overflow: hidden;
    margin-right: 20px;
    white-space: nowrap;
    color: #fff;
    &--comment{
        color: $text;
        margin-right: 0;
        margin-left: 20px;
    }
}

.user-avatar{
    display: block;   
    height: 64px;
    width: 64px;
    border-radius: $sq;
    background-color: $nocontent;
    border: 2px solid $border;
}