<form action="/search" method="get" class="search box">
	<div class="search__content">
		<h2 class="search__title">Поиск:</h2>

    <input type="search" class="search__field" name="search" placeholder="Жду вегу...">

		<input type="submit" class="search__button" value="Найти">
	</div>
</form>