<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="dist/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Авторизация | Клуб кинокритиков</title>
</head>
<body>
    <div class="fullscreenWrapper">
        <div class="fullscreenWrapper__blur">
        </div>
        <div class="authformOuter" v-if="!regModalVis">
            <form action="" class="authform">
                <h1 class="authform__title">Авторизация</h1>
                <input type="text" class="authform__input" placeholder="Логин">
                <input type="text" class="authform__input" placeholder="Пароль">
                <button class="authform__submit">Войти</button>
            </form>
        </div>
        <div class="authformOuter" v-if="regModalVis">
            <form action="" class="authform">
                <h1 class="authform__title">Регистрация</h1>
                <input type="text" class="authform__input" placeholder="Логин">
                <input type="text" class="authform__input" placeholder="Пароль">
                <input type="text" class="authform__input" placeholder="Код">
                <button class="authform__submit">Зарегистрироваться</button>
            </form>
        </div>
        <a href="#" class="register" id="register" v-if="!regModalVis" @click="regModalVis = true">Регистрация</a>
        <a href="#" class="register" id="register" v-if="regModalVis" @click="regModalVis = false">Авторизация</a>
    </div>




    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="dist/js/authreg.js"></script>
</body>
</html>