<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/auth.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <% if @title  %>
        <title><%= @title + " | #{SITE_NAME}" %></title>
    <% else %>
        <title><%="#{SITE_NAME}" %></title>
    <% end %>
</head>
<body>
    <div class="fullscreenWrapper">
        <div class="fullscreenWrapper__blur">
        </div>

        <a href="/" class="goBack">&laquo; Вернуться</a>

        <div class="authformOuter" v-if="!regModalVis">
            <form action="/auth/login" method="post" class="authform">
                <h1 class="authform__title">Авторизация</h1>

                <input id="username" name="username" type="text" class="authform__input" placeholder="Логин">
                <input id="password" name="password" type="password" class="authform__input" placeholder="Пароль">

                <input type="submit" class="authform__submit" value="Войти">

                <hr class="authform__separator">

                <a href="#" class="register" id="register" v-if="!regModalVis" @click="regModalVis = true">Регистрация</a>
            </form>
        </div>
        <div class="authformOuter" v-if="regModalVis">
            <form action="/auth/reg" method="post" class="authform">
                <h1 class="authform__title">Регистрация</h1>

                <input id="username" name="username" type="text" class="authform__input" placeholder="Логин">
                <input id="password" name="password" type="password" class="authform__input" placeholder="Пароль">
                <input type="text" class="authform__input" placeholder="Код">
                
                <input type="submit" class="authform__submit" value="Зарегистрироваться">

                <hr class="authform__separator">

                <a href="#" class="register" id="register" v-if="regModalVis" @click="regModalVis = false">Авторизация</a>
            </form>
        </div>
        
    </div>


    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./js/authreg.js"></script>
</body>
</html>