<!DOCTYPE html>
html lang="en"
    head
        meta charset="UTF-8"/
        meta name="viewport" content="width=device-width, initial-scale=1.0"/
        meta http-equiv="X-UA-Compatible" content="ie=edge"/
        title Авторизация | Клуб кинокритиков
        link rel="stylesheet" href="style.css"/
    body
        .fullscreenWrapper
            .fullscreenWrapper__blur

            a.goBack href="/" &laquo; Вернуться

            .authformOuter v-if="!regModalVis"
                form.authform action="/signIn/login" method="post"
                    h2.authform__title Авторизация
                    
                    input.authform__input type="text" placeholder="Логин"/
                    input.authform__input type="text" placeholder="Пароль"/

                    input.authform__submit type="submit" value="Войти"/

                    hr.authform__separator/

                    | <a href="#" class="register" id="register" v-if="!regModalVis" @click="regModalVis = true">Регистрация

            .authformOuter v-if="regModalVis" 
                form.authform action="/signIn/reg" method="post"
                    h2.authform__title Регистрация

                    input.authform__input placeholder="Логин" type="text" /
                    input.authform__input placeholder="Пароль" type="text" /
                    input.authform__input placeholder="Код" type="text" /

                    input.authform__submit type="submit" value="Зарегистрироваться"/

                    hr.authform__separator/

                    | <a href="#" class="register" id="register" v-if="regModalVis" @click="regModalVis = false">Авторизация


    //script src="node_modules/vue/dist/vue.min.js"
    //script src="dist/js/authreg.js"