// variables
$shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
// 	colors
$main: #3281a8;
$support: #42c8f5;
$nocontent: #e9f1f5;
$text: #29242e;
$border: #29242e;
$score: #f5bc42;
$close: #c96253;
// 	metrics
$sq: 4px;

//code
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: $nocontent;
    font-family: 'Roboto', sans-serif;
    color: $text;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    margin: 0 auto;
    padding: 40px;

    width: 1000px;
    height: auto;
}

.score,
.fa-star {
    color: $score;
    font-weight: bold;

    &--comment {
        font-size: 35px;
    }
}

.box {
    width: 100%;
    height: auto;

    margin-bottom: 40px;
    padding: 40px;

    background: #fff;
    box-shadow: $shadow;
    border-radius: $sq;

    &__title {
        padding-bottom: 10px;
        margin-bottom: 25px;
        border-bottom: 1px solid lightgray;
    }

}

.first-box {
    margin-top: 60px;
}

// import
@import url('https://fonts.googleapis.com/css?family=Neucha|Roboto&display=swap');
@import 'css/header', 'css/search', 'css/user', 'css/mainslider', 'css/maincomments', 'css/profile', 'css/post', 'css/flashes';