.header{
    background-color: $main;
    box-shadow: 0 0 10px $support;
    height: 100px;
}

.wrapper--header{
    display: flex;
    height: 100%;
}

.header__left{
    width: 50%;
}

.header__right{
    width: 50%;
}

.user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.user__name{
    font-size: 20px;
    font-weight: bold;
    max-width: 300px;
    overflow: hidden;
    margin-right: 20px;
    white-space: nowrap;
    color: $text;
}

.user_avatar{
    display: block;   
    height: 64px;
    width: 64px;
    border-radius: $sq;
    background-color: $nocontent;
    border: 2px solid $border;
}