// variables
// 	colors
$main: #3281a8;
$support: #42c8f5;
$nocontent: #bad4d9;
$text: #29242e;
$border: #29242e;
$bg: #dff1f7;
// 	metrics
$sq: 10px;

// import
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'header.scss';
@import 'user.scss';
@import 'search.scss';
@import 'navbar.scss';


* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	font-family: Roboto;
  }
  
  body {
	width: 100vw;
	min-height: 100vh; 
	display: flex;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }