.comment{
    display: flex;
    position: relative;
    border-radius: $sq;
    background-color: $nocontent;
    width: 100%;
    margin-bottom: 20px;

    &__left{
        width: 30%;
        margin: 10px;
        border-right: 1px solid $border;
    }

    &__center{
        width: 70%;
        margin: 10px;
    }

    &__for{
        padding-left: 84px;
    }

    &__more{
        border-radius: $sq;
        box-shadow: 0 0 5px $main;
        border: 2px solid $main;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        cursor: pointer;
        color: $main;
        font-weight: bold;
        transition: .3s;
        &:hover{
            background-color: $main;
            color: #000;
        }
    }

    &__title{
        font-weight: bold;
        padding: 5px 0;
        font-size: 18px;
    }
}



.commentFilm{
    display: flex;
    align-items: center;

    &__imgOuter{
        width: 64px;
        height: 80px;
        overflow: hidden;
        border-radius: $sq;
    }
    &__img{
        width: 100%;
    }
    &__name{
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
    }
}

