.modal__close{
    color: $close;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: $sq;
    border: 2px solid $close;
    padding: 8px;
    font-weight: bold;
    box-shadow: 0 0 5px $close;
    transition: .3s;
    cursor: pointer;
    &:hover{
        background-color: $close;
        color: $text;
    }
}

.modal{
    position: fixed;
    border-radius: $sq;
    width: 700px;
    border: 3px solid $border;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__top{
        margin: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border;
    }

    &__center{
        padding: 20px;
        border-bottom: 1px solid $border;
        max-height: 50vh;
        overflow: auto;
    }

    &__bottom{
        padding: 20px;
    }
}

.blur{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $nocontent;
    opacity: 0.9;
}