.innav{
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: $bg;
    align-items: center;
}


.search__field{
    border-radius: $sq;
    border: 2px solid $border;
    font-size: 20px;
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
}