.flash-box {
    position: absolute;
    bottom: 5%;
    right: 5%;

    width: max-content;
    padding: 10px;
    border-radius: $sq;
    border: $shadow;
}

.error {
    background: red;
    color: #fff;
}

.success {
    background: #52d160;
}