.search {
    &__content {
        margin: 0;
        padding: 40px;
        width: 100%;
    }

    &__title {
        text-align: center;
        border-bottom: none;

        padding-bottom: 10px;
    }

    &__field {
        border: 1px solid rgba(0, 0, 0, 0.35);
        font-size: 20px;
        padding: 10px;
        outline: none;
        width: 84%;
        margin: 0;
        &::-webkit-search-cancel-button{
            cursor: pointer;
        }
    }

    &__button {
        padding: 10px;
        width: 15%;
        margin: 0;

        font-size: 20px;
        font-weight: bold;

        cursor: pointer;

        background: $main;
        border: 1px solid $main;
        color: #fff;
        transition: .3s;

        &:hover{
            background: $text;
            border-color: $text;
        }
    }

}
