<form action="/posts/new" method="post" class="box">
    <h2 class="box__title">Новая рецензия:</h2>

    <label for="title"><strong>Заголовок:</strong></label>
    <input id="title" type="text" name="title" value="">

    <label for="content"><strong>Содержание:</strong></label>
    <textarea id="content" type="text" name="content"></textarea>

    <label for="category"><strong>Категория</strong></label>
    <select id="category" name="category">
        <option>Фильмы</option>
        <option>Сериалы</option>
        <option>Мультики</option>
      </select>

    <label for="rating"><strong>Оценка</strong></label>
    <input id="rating" type="text" name="rating" value="">

    <input type="submit" value="Опубликовать">
</form>